<div class="container-title" ng-if="!!$ctrl.title">{{ $ctrl.title }}</div>
<div class="s1-container">
  <div class="row">
    <div class="col-xs-12 trading-position">
      <table class="table tb">
        <tr class="tb-head ellipsis">
          <th ng-if="$ctrl.showIndex"></th>
          <th 
            ng-repeat="table in $ctrl.tableAttr"
            ng-class="{ 'active-color': table.isActive }">
            {{ table.title || table.placeholder }}
            <i
              ng-if="table.slot"
              class="{{ table.slot.class }}"
              tooltip-placement="{{ table.slot.placement }}" 
              uib-tooltip="{{ table.slot.tooltip }}"></i>
          </th>
        </tr>
        <tr 
          class="tb-body" 
          ng-class="{ 'tr-hover': $ctrl.showHover }"
          ng-show="$ctrl.data.length > 0"
          ng-repeat="item in $ctrl.data">
          <td ng-if="$ctrl.showIndex">{{ $index + 1 }}</td>
          <td 
            ng-repeat="table in $ctrl.tableAttr" 
            ng-class="{ 'active-color-hover': table.handleClick }"
            ng-click="table.handleClick(item)">{{ item[table.key] }}</td>
        </tr>
        <tr class="tb-body text-center" ng-show="$ctrl.data.length == 0">
          <td colspan="{{ $ctrl.tableAttr.length }}">暂无数据</td>
        </tr>
      </table>
    </div>
  </div>
</div>